<!-- show page for a single user, displays list of podcasts -->

<h2> Welcome, <%= @user.username %>!</h2>

<ul>
  <% @user.podcasts.each do |podcast| %>
  <li><a href='/podcasts/<%=podcast.id%>'><strong><%= podcast.title %></strong></a> </li>
    <ul>
      <li><%= podcast.description %> </li>
    </ul>
  <% end %>
</ul>

<br>
<a href="/podcasts/new">Add a new podcast</a>
<a href="/podcasts">View Podcast Feed</a>
<a href='/logout'>Logout</a>
