<!-- show page for a single user, displays list of podcasts -->

<h2> Welcome, <%= @user.username %>!</h2>
<ul>
  <% @user.podcasts.each do |podcast| %>
  <li> <a href="/podcasts/<%=podcast.slug%>"><%= podcast.name %></a> </li>
  <li> <%= podcast.description %> </li>
</ul>
<% end %>

<a href="/tweets">View All Podcasts</a>
<a href='/logout'>Logout</a>
