<div class="prompts homepage">
<p>ListenUp is a website that allows you to track the podcasts you listen to and find new podcasts from other Users!</p>

<a class="button" href="/login">Login</a>
<a class = "button" href="/signup">Sign Up</a>
</div>
