<!doctype html>
<html>
  <head>
    <link rel=”stylesheet” type=”text/css” href=”/style.css” />
    <title>ListenUp</title>
  </head>
  <body>

    <div class="container">
      <div id="menu">
        <h1>ListenUp</h1>
        <a href="/podcasts">View Podcast Feed</a>
        <a href='/logout'>Logout</a>
      </div>


      <%= yield %>

    </div>

  </body>
</html>
