<!doctype html>
<html>
  <head>
    <title>Podcaster</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>
      
      <%= yield %>
      
    </div>

  </body>
</html>