<!doctype html>
<html>
  <head>
    <title>ListenUp</title>
    <style type="text/css">
      body {
        font-family: sans-serif;
        margin: 0 auto;
        width: 600px;
        background_image: url("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwibz-z7qaXgAhVIhuAKHdsCAEYQjRx6BAgBEAU&url=https%3A%2F%2Fwww.pexels.com%2Fphoto%2Fheadphones-man-music-person-374777%2F&psig=AOvVaw2NXv-o_Z-jbZF6ZYJrXPJj&ust=1549481324225458");
      }

      #menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: navy;
        color: white;
      }

      #menu li {
        display: inline-block;
        padding-left: 10px;
      }

      #logo {
        height: 50px;
        width: auto;
        padding: 10px 5px 5px 5px;
      }

      #menu li a {
        display: block;
        color: white;
        float: right;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      #menu li a:hover {
        background-color: #111;
      }

      #feed {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      .feed_container {
        border: 2px solid #DCDCDC;
        padding: 2px 5px 5px 5px;
        margin: 2px 0px 5px 0px;
      }

      a.button {
        background-color: navy;
        border-radius: 5px;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
      }

      input[type=submit] {
        background-color: grey;
        border-radius: 5px;
        color: white;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: .75em;
      }

      .flash {
        color: black;
      }

  </style>
  </head>

  <body>

    <div class="container">
      <div>
        <ul id="menu">
          <li><img id="logo" src="/images/1nxPS1G.jpg"></li>
          <li class="links"> <a href="/podcasts">Home</a></li>
          <li class="links"> <a href="/login">Login</a></li>
          <li class="links"> <a href='/logout'>Logout</a></li>
          <li class="links"> <a href="/signup">Sign Up</a></li>
        </ul>
        </div>
      </div>

      <div class="wrapper">
      <div><% if flash[:message] %>
        <div style="background-color:#c2f0f0;" align="middle" >
        <%= flash[:message] %>
      <% end %></div>

      <%= yield %>

    </div>

  </body>
</html>
