<!doctype html>
<html>
  <head>
    <title>ListenUp</title>
    <style type="text/css">
      body {
        font-family: sans-serif;
        margin: 0 auto;
        width: 600px;
      }

      #menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: navy;
        color: white;
      }

      #menu li {
        display: inline-block;
        padding-left: 10px;
      }

      #menu li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      #menu li a:hover {
        background-color: #111;
      }

      #feed {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      .feed_container {
        border: 2px solid #DCDCDC;
        padding: 2px 5px 5px 5px;
        margin: 2px 0px 5px 0px;
      }

      a.button {
        background-color: navy;
        border-radius: 5px;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: .75em;
      }

      input[type=submit] {
        background-color: grey;
        border-radius: 5px;
        color: white;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: .75em;
      }

  </style>
  </head>

  <body>

    <div class="container">
      <div>
        <ul id="menu">
          <li>ListenUp</li>
          <li class="links"> <a href="/podcasts">Home</a></li>
          <li class="links"> <a href='/logout'>Logout</a></li>
        </ul>
        </div>
      </div>

      <% flash.keys.each do |type| %>
        <div data-alert class="flash <%= type %> alert-box radius">
          <%= flash[type] %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>

      <%= yield %>

    </div>

  </body>
</html>
