<!doctype html>
<html>
  <head>
    <title>ListenUp</title>
    <style type="text/css">
      body {
        font-family: sans-serif;
        margin: 0 auto;
        width: 600px;
      }

      #menu {
        background-color: grey;
        color: white;
      }

      #menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      #menu li {
        display: inline-block;
        padding-left: 10px;
      }

      #menu li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      #menu li a:hover {
        background-color: #111;
      }


  </style>
  </head>

  <body>

    <div class="container">
      <div>
        <ul id="menu">
          <li>ListenUp</li>
          <li class="links"> <a href="/podcasts">View Podcast Feed</a></li>
          <li class="links"> <a href='/logout'>Logout</a></li>
        </ul>
        </div>
      </div>


      <%= yield %>

    </div>

  </body>
</html>
