
<div id='flash' class='message'>
 <a class="close" data-dismiss="alert">&#215;</a>
 <%= flash[:message] %>
</div>


<h3>Copy Podcast to your Account:</h3>

<form method = "post" action="/podcasts/<%=@podcast.id%>/copy">
  <label for="name">Podcast Title:</label>
  <input type="text" id="title" name="podcast[title]" value="<%=@podcast.title%>">
  <label for="description">Description:</label>
  <input type="text" id="description" name="podcast[description]" value="<%=@podcast.description %>">
  <input type="submit" id="submit" value="Submit">


</form>
