<!-- form to add a new podcast if you are logged in -->
<div class="feed_container">
  <h2>Add a New Podcast:</h2>

  <form method = "post" action="/podcasts">
    <label for="name">Podcast Title:</label>
    <input type="text" id="title" name="podcast[title]">
    <label for="description">Description:</label>
    <input type="text" id="description" name="podcast[description]">
    <input type="submit" id="submit" value="Submit">

  </form>
</div>
