
<h3> <%= @podcast.title %> </h3>
<p> <%= @podcast.description %> </p>

<p>If you are logged in, please use the links below to edit or delete this podcast. Otherwise, click "Copy Podcast to my list" to add this podcast to your account. </p>
<br>
<a href="/podcasts/<%=@podcast.id%>/edit">Edit this podcast</a>
<a href="/podcasts/<%=@podcast.id%>/delete">Delete this podcast</a>
<a href="/podcasts">View Podcast Feed</a>
<a href='/logout'>Logout</a>
